/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* /GENERAL RULES */

/* UTILITIES */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* /UTILITIES */

/* STYLE */

/* Header style */
header {
    background-color: #ff6900;
    color: #fff;
    box-shadow: 2px 2px 5px #333;
    /*position: fixed;*/
    width: 100%;
}

#logo {
    width: 170px;
}

header div {
    padding: 15px 0;
}

header a,
i {
    padding: 0 5px;
}

/* /Header style */

/* Main style */
main img {
    /*width: calc(100% / 3);*/
    width: 100%;
}

.cards {
    margin: 70px 20px 20px 20px;
    position: relative;
    width: calc(100% / 3 - 40px);

}

.product-info {
    line-height: 1.4rem;
}

.price {
    color: #ff0000;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

.product-sale {
    background-color: #ff0000;
    padding: 5px;
}

.sustainability {
    background-color: green;
    padding: 5px;
}

.product-labels {
    position: absolute;
    left: 0px;
    bottom: 100px;
    color: #fff;
    font-weight: bold;
}

.heart {
    position: absolute;
    right: 0px;
    top: 30px;
    font-size: 30px;
    background-color: #fff;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* /Main style */

/* /STYLE */